.divide{
            width:300px;
            height: auto;
            justify-content: center;
            align-items: center;
            border:solid black ;
            border-radius: 10px;
            margin-top: 110px;
            margin-left: 320px;
            padding:12px;
        }